RewriteEngine On

# Si el archivo o directorio no existe en la raíz, reescribir a index.php para el enrutamiento MVC
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]